p {
    font-size: 24px;
    background-color: rgb(105, 163, 121);
}

.container {
    display: inline-block;
    /* width: 500px; */
    /* height: 100px; */
    text-align: center;
    /* width: 500px */
    background-color: rgb(105, 102, 102);
}

/* p {
    display: inline;
} */

.main {
    text-align: center;

}